<h1>Create a New Gallery</h1>

<%= render 'form', gallery: @gallery %>

<% if @gallery.errors.any? %>
  <div class="alert alert-danger mt-3">
    <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
